{% if error_message %}
	<div id="error-message">
		<p>{{ error_message }}</p>
	</div>
{% endif %}

<div id="edit">
<form action="/admin/edit/{% if post.draft %}drafts{% else %}posts{% endif %}" method="post">
	{% if post.slug %}<input type="hidden" name="original_slug" value="{{ post.slug | escape }}">{% endif %}

	<h2 id="slug">
		<code>
			<span>{{ post.type }}s/</span><span><input{% if post.published %}{{ " disabled" }}{% endif %}{% if conflicting_name %}{{ ' class="error" title="Pick a different name"' }}{% endif %} name="slug" placeholder="a-url-fragment" value="{{ post.slug | escape }}"{% if autofocus == "slug" %}{{ " autofocus" }}{% endif %}></span>
		</code>
	</h2>

	<h2 id="private-url">
		<code><span>preview:</span> <a href="{{ private_url }}">{{ private_url | escape }}</a></code>
	</h2>

	<div class="post{% if post.draft %} draft{% endif %}">
		<header>
			<h1 id="heading" class="post">
				<textarea spellcheck="false" placeholder="It was a dark and stormy night" name="title"{% if autofocus == "title" %}{{ " autofocus" }}{% endif %}>{% if post.title %}{{ post.title | escape }}{% endif %}</textarea>
			</h1>

			{% if post.draft %}
				<time datetime="{{ 'now' | date: "%Y-%m-%d" }}">{{ 'now' | date: "%B %d %Y" }}</time>
			{% else %}
				<time datetime="{{ post.created | date: "%Y-%m-%d" }}">{{ post.created | date: "%B %d %Y" }}</time>
			{% endif %}
		</header>
	</div>
	<div id="content-areas">
		<textarea data-attachify spellcheck="false" id="content" placeholder="Lorem ipsum dolor sit amet." name="markdown"{% if autofocus == "markdown" %}{{ " autofocus" }}{% endif %}>{{ post.content | strip | escape }}</textarea>

		<article id="entry" class="post" data-state="hidden"></article>
	</div>

	<input id="save" type="submit" value="Update {{ post.type | escape }}">

	<input type="checkbox" id="render-preview"> <label class="preview" for="render-preview">Preview</label>

	{% if post.draft %}
		<input type="checkbox" name="publish" value="yes" id="publish"> <label for="publish">Publish?</label>
	{% endif %}

</form>

{% if post.draft %}
	<form id="delete" method="post" action="/admin/delete">
		{% if post.slug %}<input type="hidden" name="original_slug" value="{{ post.slug | escape }}">{% endif %}
		<input type="checkbox" name="confirm_delete" value="yes" id="confirm-delete"> <label for="confirm-delete">Confirm</label>
		<input type="submit" value="Delete">
	</form>
{% endif %}

</div>
