{% if error_message %}
	<div id="error-message">
		<p>{{ error_message }}</p>
	</div>
{% endif %}

<div id="edit">
<form action="/admin/edit/posts" method="post">
	<input type="hidden" name="original_basename" value="{{ post.basename | escape }}">

	<h2 id="slug">
		<code>
			<span>posts/</span><span><input disabled name="slug" placeholder="a-url-fragment" value="{{ post.slug | escape }}"></span>
		</code>
	</h2>

	<div class="post draft">
		<header>
			<h1 id="heading" class="post">
				<textarea spellcheck="false" placeholder="It was a dark and stormy night" name="title" autofocus>{{ post.title | escape }}</textarea>
			</h1>

			<time datetime="{{ post.created | date: "%Y-%m-%d" }}">{{ post.created | date: "%B %d %Y" }}</time>
		</header>
	</div>
	<div id="content-areas">
		<textarea data-attachify spellcheck="false" id="content" placeholder="Lorem ipsum dolor sit amet." name="markdown">{{ post.content | strip | escape }}</textarea>

		<article id="entry" class="post" data-state="hidden"></article>
	</div>

	<input id="save" type="submit" value="Update post">

	<input type="checkbox" id="render-preview"> <label class="preview" for="render-preview">Preview</label>
</form>

<aside>
	<p>Drag and drop images into the form above to upload them.</p>
</aside>
</div>
