{% if error_message %}
	<div id="error-message">
		<p>{{ error_message }}</p>
	</div>
{% endif %}

<div id="edit">
<form action="/admin/new/draft" method="post">
	<input type="hidden" name="original_slug" value="{% if post.slug %}{{ post.slug | escape }}{% endif %}">

	<h2 id="slug">
		<code>
			<span>drafts/</span><span><input{% if conflicting_name %}{{ ' class="error" title="Pick a different name"' }}{% endif %} name="slug" placeholder="a-url-fragment" value="{{ post.slug | escape }}"{% if autofocus == "slug" %}{{ " autofocus" }}{% endif %}></span>
		</code>
	</h2>

	<div class="post draft">
		<header>
			<h1 id="heading" class="post">
				<textarea data-attachify spellcheck="false" placeholder="It was a dark and stormy night" name="title"{% if autofocus == "title" %}{{ " autofocus" }}{% endif %}>{% if post.title %}{{ post.title | escape }}{% endif %}</textarea>
			</h1>
		</header>
	</div>
	<div id="content-areas">
		<textarea spellcheck="false" id="content" placeholder="Lorem ipsum dolor sit amet." name="markdown"{% if autofocus == "markdown" %}{{ " autofocus" }}{% endif %}>{{ post.content | strip | escape }}</textarea>

		<article id="entry" class="post" data-state="hidden"></article>
	</div>

	<input id="save" type="submit" value="Save draft">

	<input type="checkbox" id="render-preview"> <label class="preview" for="render-preview">Preview</label>
</form>

</div>
